<h2>Select which songs you would like to add to <%=@playlist.name%></h2>
<br></br>

<%if @array.empty?%>
<h3>Sorry, we didn't find any similar songs</h3>
<br>
<a href="/playlists/<%=@playlist.id%>">Click here to return to <%=@playlist.name%></a>
<%else%>

<form action="/found/<%=@playlist.id%>" method="post">

  <label>Here are the songs you requested:</label>
  <br></br>
    <%@array.each do |song|%>
    <input type="checkbox" name="song[]" id="<%= song.name %>" value="<%=song.name%>"><%=song.name%></input>
      <br></br>
    <%end%>

  <br></br>
  <input type="submit" value="Add some songs for me Sponatra!">

</form>

<%end%>
